[user]
  name = AUTHORNAME
  email = AUTHOREMAIL
[github]
  user = USERNAME
  token = TOKEN
[credential]
  helper = osxkeychain
[alias]
  amend = commit --amend
  fixup = commit --fixup
  unstage = reset HEAD --
  discard = checkout --
  lo = log --oneline --decorate
  undo = reset HEAD~1 --mixed
  aliases = !git config --get-regexp 'alias.*' | colrm 1 6 | sed 's/[ ]/ = /' | sort
[apply]
  whitespace = nowarn
[core]
  excludesfile = ~/.gitignore
  autocrlf = input
[branch]
  autosetuprebase = always
[push]
  default = current
[pull]
  default = current
[rebase]
  autostash = true
  autosquash = true
[rerere]
  enabled = true
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
  ui = true
[color "branch"]
  current = green bold
  local = yellow bold
  remote = red bold
[color "diff"]
  meta = black bold
  frag = cyan bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  changed = red bold # also deleted
  untracked = green bold
[filter "media"]
  clean = git-media-clean %f
  smudge = git-media-smudge %f
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
